body[theme='dark'] {
  .content:focus-within {
    background-color: #242526!important;
  }
  .rich-editor:focus{
    background-color: #242526!important;
  }
  .content:focus-within .new_topic{
    background-color: #131415!important;
  }
  .el-upload--picture-card{
    background-color:#242526!important;
  }
  .el-skeleton.is-animated .el-skeleton__item {
    background:-webkit-gradient(linear,left top,right top,color-stop(25%,#3e3e3e),color-stop(37%,#5a5a5a),color-stop(63%,#3e3e3e));
    background:linear-gradient(90deg,#3e3e3e 25%,#5a5a5a 37%,#3e3e3e 63%);
    animation: el-skeleton-loading 1.4s ease infinite;
    -webkit-animation: el-skeleton-loading 1.4s ease infinite;
    background-size: 400% 100%;
  }
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    background-color: #242526!important;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #409EFF!important;
  }
  .select select, .taginput .taginput-container.is-focusable, .textarea, .input{
    background-color:#242526!important;
    color: #fff!important;
  }
  .dropdown-ul{
    border: 1px solid rgba(255, 255, 255, .15)!important;
  }
  .content-post{
    color:#c2c2c2;
  }
  .langs_zh{
    //color: #00d1b2d9;
    color: #98c379;
  }
  .dict-picker {
    box-shadow: 0 2px 6px 0 rgba(255,255,255,20%), 0 0 1px 0 rgba(255,255,255,30%);
  }
  .dict-picker-tips {
    box-shadow: 0 0 5px 0 rgba(255,255,255,10%), 0 0 1px 0 rgba(255,255,255,30%);
  }
  .essay-container{
    background-color: #131415;
  }
  .post-header .category a{
    color: #fafafa!important;
    background-color: rgba(232, 236, 239, 0.1);
  }
  .el-pagination.is-background .btn-next.disabled, .el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev.disabled, .el-pagination.is-background .btn-prev:disabled, .el-pagination.is-background .el-pager li.disabled {
    color: #606266;
  }
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    color: #C0C4CC;
  }
}

